{% extends "base.html" %}

{% block content %}
     <div class="row">
      <!--    <div class="text-center">
          <img class="img-fluid rounded rounded-5" src="images/banner.jpg">
        </div>
      </div> -->
      <p>Change the sample URL's. Good luck!</p>
      <h4 class="mt-3">GET First 50 record</h3>
        <a href="https://localhost:5000/patient">🌍https://localhost:5000/patient🌍</a>
      <h4 class="mt-3">GET record by ID </h4>
        <a href="https://localhost:5000/patient/BMW7812">🌍https://localhost:5000/patient/BMW7812🌍</a>
      <h4 class="mt-3">GET records with Heart Attack Rate value. The value can be 0=No,1=Yes. </h4>
        <a href="https://localhost:5000/patient/Heart Attack Risk/1">🌍 https://localhost:5000/Heart Attack Risk/1🌍</a>
    </div>
{% endblock %}