{% extends "base.html" %}

{% block content %}
     <div class="row">
      <!--    <div class="text-center">
          <img class="img-fluid rounded rounded-5" src="images/banner.jpg">
        </div>
      </div> -->
      <h5>⚠️Aquests plots només els hem posat com a mostra. Tot i que podeu inspirar-vos en alguns, no cal que 
      intenteu crear els mateixos. L'important és fer-se bones preguntes i bons gràfics.⚠️</h5>

      <h4 class="mt-2">Plot 1 </h4>
        <p>Levels of Cholesterol in each country in each continent, divided in people with risk attack.</p>
        <div>
          <!-- <img class="img-fluid rounded rounded-5" src="images/plot1-sample.png"> -->
          <img class="img-fluid" src="data:image/png;base64, {{grafic1|safe}}" alt="Levels of Cholesterol in each country in each continent, divided in people with risk attack" id="grafic1">
        </div>
      
      <h4 class="mt-2">Plot 1 </h4>
      <p>Plot2.</p>
      <div>
        <img class="img-fluid" src="data:image/png;base64, {{grafic2|safe}}" alt="Levels of Cholesterol in each country in each continent, divided in people with risk attack" id="grafic2">
      </div>

      <!-- <h4 class="mt-2">Plot 2 </h4>
        <p>Demo.</p>
        <a href="https://www.kaggle.com/datasets/iamsouravbanerjee/heart-attack-prediction-dataset/">🌍 Original source and examples, Kaggle website.🌍</a>
        <div class="text-center">
          <img class="img-fluid rounded rounded-5" src="../images/plot1-sample.png">
        </div>
      
      <h4 class="mt-2">Plot 2 Description</h4>
        <p>Displot of attribute age Fig. 2 depicts the distplot of age attribute. It clearly shows that heart disease risk is very common with the people whose age is 60 and above. The heart disease risk is common with the people who belong to the age group of 41 to 60 and rare with the people whose age is below 40.</p>
        <a href="https://www.kaggle.com/datasets/iamsouravbanerjee/heart-attack-prediction-dataset/">🌍 Original source and examples, Kaggle website.🌍</a>
        <div class="text-center">
          <img class="img-fluid rounded rounded-5" src="../images/plot2-sample.png">
        </div>

      <h4 class="mt-2">Plot 3 Example</h4>
        <div class="text-center">
          <img class="img-fluid rounded rounded-5" src="../images/plot3-sample.jpg">
        </div>
    </div> -->
{% endblock %}